html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.how-it-works-outer {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
 
}

.how-it-works-container{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.how-it-works-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.how-it-works-container p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}
